.o_dropdown_kanban > .dropdown-menu {
  min-width: 8rem;
}

.dme-document-kanban-record-btn-fill, .dme-document-link {
  cursor: pointer;
  padding: 4px;

  &:not(.o-details-overlay):hover {
    opacity: 0.8;
  }
}

.fa-clock-o {
  padding-top: 2px;
  padding-bottom: 2px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.o_act_window {
  overflow-x: hidden
}

.x-spreadsheet {
  width: 100%
}

.dme-document-kanban-record-btn-select-one {
  cursor: pointer;

  &:focus, &:focus-within {
    -webkit-box-shadow: 1px 1px 1px 0px gray('600');
    -moz-box-shadow: 1px 1px 1px 0px gray('600');
    box-shadow: 1px 1px 1px 0px gray('600');
  }
}

.dme-document-sidebar {
  flex: 0 0 320px;
  overflow: auto;
  color: #f2f2f2;
  background-color: #3F3F3F;
  height: 100%;

  .dme-document-sidebar-header {
    padding: 8px;
    background-color: #2E2E2E;
    border-bottom: 1px solid #1A1A1A;
    min-height: 120px;
  }
}

.pl4 {
  padding-left: 4px !important;;
}

.dme-document-kanban-record-btn-select {
  font-size: 16px;
  color: #57c2bc;
  &:hover {
    color: #343a40;
  }
}